* {
    border: 0%;
    padding: 0%;
    margin: 0%;
    list-style: none;
}

:root {
    --preto: #0D0D0D;
    --branco: #F2F2F2;
    --cinza: #262626;
    --cinzaClaro: #595959;
    --cinzaMaisClaro: #A6A6A6;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background-color: var(--cinzaClaro);
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
}

img{
    width: 50vw;
    height: 100vh;
}

.experiencias {
    display: flex;

}